# dependencies
/node_modules

# production
/build
/public/animation
/src/fonts
/src/img/popup
/src/img/sticker
/src/img/system-illustration

# misc
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
